<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex,nofollow" />
</head>
<body onload="redirect()">
	<form id="form_login" method="post" action="{{ path('rt_usr_login') }}">
		<input type="hidden" name="redirect_path" value="{{ redirect_path|default }}" />
	</form>
	<script>

		function redirect()
		{
			document.getElementById("form_login").submit();
		}

	</script>
</body>
</html>
