{% extends "layout.twig" %}

{% set header_title = "Olvidé mi contraseña" %}

{% block header_css_alt %}
	<style>

		.form-passforgot
		{
			max-width: 330px;
			padding: 15px;
			margin: 0 auto;
		}
		.form-passforgot .form-passforgot-heading,
		.form-passforgot .checkbox
		{
			margin-bottom: 10px;
		}
		.form-passforgot .checkbox
		{
			font-weight: normal;
		}
		.form-passforgot .form-control
		{
			position: relative;
			font-size: 16px;
			height: auto;
			padding: 10px;
		}

	</style>
{% endblock header_css_alt %}

{% block body_header %}
	{% embed "layout_menu.twig" %}
		{% block menu_right_html %}
		{% endblock menu_right_html %}
	{% endembed %}
{% endblock body_header %}

{% block body_container %}
	<div class="form-passforgot">
		<h2 class="form-passforgot-heading">Olvidé mi contraseña</h2>
		<input id="username" type="text" class="form-control" maxlength="32" placeholder="Usuario o Email" autofocus="">
		<h6 style="color: #777777;">
			<span class="glyphicon glyphicon-info-sign"></span>
			&nbsp;Te llegará a tu buzón de correo electrónico un enlace para que puedas resetear la contraseña.
		</h6>
		<br>
		<button class="btn btn-lg btn-primary btn-block" onclick="request_password_reset();">
			<span class="glyphicon glyphicon-lock"></span>
			&nbsp;Continuar
		</button>
		<br>
		<br>
		<a href="{{ path('rt_root') }}" style="float: right; cursor: pointer;">
			Volver
			&nbsp;<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
{% endblock body_container %}

{% block body_javascript_alt %}
	{{ resource_js_jquery_sha256|raw }}
	<script>

		function request_password_reset()
		{
			if($.isEmpty($('#username').val()))
			{
				alert('Debes rellenar todos los campos');
				return;
			}

			$('div.form-passforgot button').attr('disabled', true);

			$.ajax(
			{
				type: "POST",
				url: "{{ path('rta_usr_password_forgot') }}",
				contentType : "application/json",
				data: JSON.stringify(
				{
					username: $('#username').val(),
					random: encodeURI((Math.random()*99999))
				})
			}
			).done(function(data)
			{
				alert('Email enviado! Revisa tu correo electrónico');

				window.location.href = "{{ path('rt_root') }}";
			}
			).fail(function(jqXHR)
			{
				$.onAjaxError(jqXHR);

				$('div.form-passforgot button').attr('disabled', false);
			}
			).always(function() {});
		}

	</script>
{% endblock body_javascript_alt %}
